# macOS
.DS_Store

# Swift
build/
DerivedData/
timeline.xctimeline
playground.xcworkspace

.build/
build-cdoc/
build-cdoc-debug/

# Swift Package Manager
Packages/
xcuserdata

# Module lockfiles
Modules/**/Package.resolved

# Mockolo
**/Mocks/**

# Xcode-Build-Server
buildServer.json
RIADigiDoc/Supporting files/GoogleService-Info.plist

#AASA
apple-app-site-association