# macOS
.DS_Store

# Swift
build/
DerivedData/
timeline.xctimeline
playground.xcworkspace

.build/

# Swift Package Manager
Packages/
xcuserdata

# Mockolo
**/Mocks/**

# Xcode-Build-Server
buildServer.json